#controls{
    margin: 0 auto;
    width: 90px;
    height: 90px;
    position: absolute;
    top: 200px;
    left: 200px;
    display: block;
    clear: both;
    z-index: 999;
    opacity: 0.5;

}

#controls span{
    text-indent: -999em;
    display: block;
    padding: 10px 0;
    width: 32px;
    height: 32px;
    float: left;
    position: absolute;
    cursor: pointer;
}

#controls .left{
    background: url('images/arrow_left.png') no-repeat;
    left: 0;
    top: 20px;
    background-size: 100% 100%;
}

#controls .right{
    background: url('images/arrow_right.png') no-repeat;
    right: 0;
    top: 20px;
    background-size: 100% 100%;
}

#controls .top{
    background: url('images/arrow_top.png') no-repeat;
    left: 30px;
    top: 0px;
    background-size: 100% 100%;
}

#controls .bottom{
    background: url('images/arrow_down.png') no-repeat;
    left: 30px;
    bottom: 0px;
    background-size: 100% 100%;
}

#bombControl{
    margin: 0 auto;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 200px;
    left: 200px;
    display: block;
    clear: both;
    z-index: 999;
    background: url(images/putBomb.png) no-repeat;
    cursor: pointer;
    background-size: 100% 100%;

}
