#controls{
    margin: 0 auto;
    width: 90px;
    height: 90px;
    position: absolute;
    top: 200px;
    left: 200px;
    display: block;
    clear: both;
    z-index: 999;
    opacity: 0.5;

}

#controls span{
    text-indent: -999em;
    display: block;


    float: left;
    position: absolute;
    cursor: pointer;
}

#controls .left, #controls .right {
    width: 40%;
    height: 20%;
}

#controls .top, #controls .bottom {
    width: 20%;
    height: 40%;
}

#controls .left{
    background: url('images/arrow_left.png') no-repeat;
    background-size: 100% 100%;
    left: 0;
    top: 40%;

}

#controls .right{
    background: url('images/arrow_right.png') no-repeat;
    background-size: 100% 100%;
    right: 0;
    top: 40%;

}

#controls .top{
    background: url('images/arrow_top.png') no-repeat;
    left: 40%;
    top: 0;
    background-size: 100% 100%;
}

#controls .bottom{
    background: url('images/arrow_down.png') no-repeat;
    left: 40%;
    bottom: 0;
    background-size: 100% 100%;
}

#bombControl{
    margin: 0 auto;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 200px;
    left: 200px;
    display: block;
    clear: both;
    z-index: 999;
    background: url(images/putBomb.png) no-repeat;
    cursor: pointer;
    background-size: 100% 100%;

}

#score_container {
    position: absolute;
    left: 100px;
    top: 50px;
}

#score_label{
    position: relative;
    color: #ffffff;
    font-size: 20px;
}
