#field{
    display: none;
}
#manag {
    display: none;
}

#menu {
    display: block;
    overflow: hidden;
    margin: 0 auto;
    padding: 10px 0;
    /*position:absolute;
    width: 80%;
    top:10%;
    bottom:10%;
    margin-left: 10%;
    margin-right: 10%;*/
}

#over {
    display: none;
    margin: 0 auto;
    overflow: hidden;
}

#top_pic {
    width: 353px;
    height: 252px;
    background-image: url('images/fox1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    margin: 0 auto;
}

#name {
    width: 400px;

    background-image: url('images/fox_name.png');
    background-repeat: no-repeat;
    margin: 0 auto;
}

div#new_game{
    overflow: hidden;
     margin: 0 auto;
    padding: 3px 0;
}
div#new_game img {
    height: 98%;
    border: 1px solid #fff;

}

div#continue{
    overflow: hidden;
    margin: 0 auto;
    padding: 3px 0;
}

div#continue img {
    height: 98%;
    border: 1px solid  #fff;
}

#Congratulations {
    width: 480px;
    height: 160px;
    background-image: url('images/cong.png');
    background-repeat: no-repeat;
}
#bang {
    width: 480px;
    height: 300px;
    background-image: url('images/cong1.png');
    background-repeat: no-repeat;
}
#area {
    width: 480px;
    height: 100px;
    background-image: url('images/cong0.png');
    background-repeat: no-repeat;
}
#score {
    width: 300px;
    padding-left: 80px;
    height: 100px;
    background-image: url('images/Score.png');
    background-repeat: no-repeat;
    color: #ffffff;
    font-size: 5em;
    overflow: hidden;
}

div#try img {
    border: 1px solid white;
}

#go {
    display: block;
}

#go img{
    width: 100%;
}

#sad {
    width: 160px;
    height: 172px;
    background-image: url('images/sad.png');
    background-repeat: no-repeat;
}